.elders__form-container {
  margin-top: 100px;
}

.elders__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

.elders__actions {
  margin-top: 50px;
  text-align: center;
}