.jumbotron.about-us-section
  %h2.display-5 Abuelometro, está aquí para ayudar
  %p.lead Somos una plataforma de monitoreo continuo para adultos mayores
  %hr.my-4
  %p A través de una aplicación móvil te damos acceso al estado de salud de tus familiares mayores de edad.
  %button#know-how.know-how-btn.btn ¿Cómo?
