.jumbotron.contact-us-section
  %h2.display-5 ¡Trabajemos juntos!
  %p.lead En Abuelómetro te estamos esperando
  %hr.my-4
  %p Ponte en contacto con nosotros
  = link_to '¡Hablemos!', '/', class: 'lets-talk-btn btn'
