%footer.footer__content
  %p.footer__company-motto Cuidemos de ellos juntos
  %ul.footer__links
    %li
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} About
    %li
      %a{:href => "#"} Faq
    %li
      %a{:href => "#"} Contact
  %p.footer__company-name MagmaHackers © 2018
