%footer.footer__content
  %p.footer__company-motto Cuidemos de ellos juntos
  %ul.footer__links
    %li
      = link_to 'Home', '/'
    %li
      = link_to 'About us', '/'
    %li
      = link_to 'FAQ', '#'
    %li
      = link_to 'Contact us', '/contact-us'
  %p.footer__company-name MagmaHackers © 2018
