%section.how-it-works
  .container.how-it-works__container
    .how-it-works__inf
      %h1 Es muy sencillo

      .how-it-works__category
        .how-it-works__description
          = image_tag('login.png', alt: 'login', class: 'how-it-works__image')
          %h3 Captura
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        .how-it-works__description
          = image_tag('login.png', alt: 'login', class: 'how-it-works__image')
          %h3 Captura
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        .how-it-works__description
          = image_tag('login.png', alt: 'login', class: 'how-it-works__image')
          %h3 Captura
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
