%br/
.homepage-admin
  .care-taker
    %a{:href => "#"}= image_tag('takecare',class: 'ico')
    %p.subtitle Cuidadores
    - 10.times do
      %p Lord Maluma
  .elders
    %a{:href => "#"}
      %i.fa.fa-user.fa-2x
    %p.subtitle Adulto M
    - 10.times do
      %p Lord Maluma
  .diseases
    %a{:href => "#"}= image_tag('pils',class: 'ico')
    %p.subtitle Padecimientos
    - 10.times do
      %p Borro casette
