  <br>
<div class="homepage-admin">
  <div class="care-taker">
    <a href="#"><%= image_tag('takecare',class: 'ico')%></a>
    <p class='subtitle'>Cuidadores</p>
    <%10.times do%>
      <p>Lord Maluma</p>
    <%end%>
  </div>
  <div class="elders">
    <a href="#"><i class="fa fa-user fa-2x"></i></a>
    <p class='subtitle'>Adulto M</p>
    <%10.times do%>
      <p>Lord Maluma</p>
    <%end%>
  </div>
  <div class="diseases">
    <a href="#"><%= image_tag('pils',class: 'ico')%></a>
    <p class='subtitle'>Padecimientos</p>
    <%10.times do%>
      <p>Borro casette</p>
    <%end%>
  </div>
</div>
