.navbar {
  background-color: $color-navbar-background;
  box-shadow: 0 0 10px $color-text-normal;
  height: 60px;

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

.navbar-brand {
  color: $color-text-accent;
  height: 100%;

  &:hover {
    color: $color-primary-background;
  }
}

.navbar-logo {
  height: 100%;
  width: auto;
}

.navbar-nav {
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.nav-link {
  color: $color-text-accent;
  margin-left: 10px;

  &:hover {
    color: $color-primary-background;
  }
}

.collapse {
  background-color: $color-navbar-background;
}
