.log-in__section {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.new_user {
  padding: 50px 0;

  input {
    border: 1px solid $gray;
  }
}

.field__remember-me {
  padding-top: 50px;
}