$lynch: #6c819b;
$chambray: #406493;
$geyser: #dce0e4;
$fun_blue: #1e5ba9;
$white: #fff;
$black: #000;
$color-navbar-background: $fun_blue;
$color-primary-background: $geyser;
$color-primary-button: $chambray;
$color-text-accent: $white;
$color-text-normal: $black;
$color-primary-dark: $fun_blue;
