.admin-menu-container {
  font-size: 20px;
  color: black;
  .menu-side {
    display: flex;
    .nav {
      font-size: 30px;
      justify-content: center;
      border: 1px solid;
      flex: 1;
    }
  }

  .form-side {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    border: 1px gray solid;
    .submit {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      opacity: 0.2;
      cursor: pointer;
    }
    &:visited {
      opacity: 0.2;
    }
  }

  .elder-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    p {
      margin: 10px;
    }

    a {
      margin: 10px;
    }
  }
}

.nav {
  p {
    color: $fun_blue;
    margin-left: 20px;
  }
}
